@model List<ZuHuanJingDemo2.Models.Member>


@if (Model != null)
{
    @foreach (var item in Model)
    {
        <tr style="max-width:100%;">
            <td style="width:5%;">
                @Html.DisplayFor(modelItem => item.Member_Id)
            </td>
            <td style="width:15%;">
                <a asp-controller="Members" asp-action="Details" asp-route-id="@item.Member_Id">@Html.DisplayFor(modelItem => item.Member_Name)</a>
            </td>
            <td style="width:15%;">
                @Html.DisplayFor(modelItem => item.Member_Account)
            </td>
            <td style="width:20%;">
                @Html.DisplayFor(modelItem => item.Member_Email)
            </td>
            <td style="width:15%;">
                @Html.DisplayFor(modelItem => item.Member_CreateDate)
            </td>
        </tr>
    }
}