@model List<ZuHuanJingDemo2.Models.Member>


@if (Model != null)
{
    @foreach (var item in Model)
    {
        <tr>
            <td style="width:5%;">
                @Html.DisplayFor(modelItem => item.Member_Id)
            </td>
            <td style="width:15%;">
                <a asp-controller="Members" asp-action="Details" asp-route-id="@item.Member_Id">@Html.DisplayFor(modelItem => item.Member_Name)</a>

            </td>
            <td style="width:15%;">
                @Html.DisplayFor(modelItem => item.Member_Account)
            </td>
            <td style="width:20%;">
                @Html.DisplayFor(modelItem => item.Member_Email)
            </td>
            @*<td>
    @if (item.Is_Baned == 0)
    {
    <label>否</label>
    }
    else
    {
    <label>是</label>
    }
    </td>*@
            <td style="width:15%;">
                @Html.DisplayFor(modelItem => item.Member_CreateDate)
            </td>
            <td style="width:20%;">
                <a asp-controller="Members" asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Member_Id">編輯</a>
                <a asp-controller="Members" asp-action="DeleteConfirm" class="btn btn-danger" asp-route-id="@item.Member_Id" onclick="return confirm('確定要刪除嗎?')">刪除</a>
            </td>
        </tr>
    }
}