@*@model ZuHuanJingDemo2.Models.Course
@{
    ViewData["Title"] = "Details";
}
<h1>課程細節</h1>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Course_Id">Edit</a>&ensp;
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-2">
        <strong>@Html.DisplayNameFor(model => model.Course_Name)</strong>
    </div>
    <div class="col-6">
        @Html.DisplayFor(model => model.Course_Name)
    </div>
    <div class="col-2">
        <strong>@Html.DisplayNameFor(model => model.Course_Teacher)</strong>
    </div>
    <div class="col-2">
        @Html.DisplayFor(model => model.Course_Teacher)
    </div>
    <div class="col-4">
        <strong>@Html.DisplayNameFor(model => model.Course_IsActive)</strong>
    </div>
    <div class="col-8">
        @(Model.Course_IsActive == 1 ? "是" : "否")
    </div>

    <div class="col-4">
        <strong>@Html.DisplayNameFor(model => model.Course_MaxCount)</strong>
    </div>
    <div class="col-8">
        @Html.DisplayFor(model => model.Course_MaxCount)
    </div>
    <div class="col-4">
        <strong>@Html.DisplayNameFor(model => model.Course_SumCount)</strong>
    </div>
    <div class="col-8">
        @Html.DisplayFor(model => model.Course_SumCount)
    </div>
    <div class="col-4">
        <strong>@Html.DisplayNameFor(model => model.Course_StartDate)</strong>
    </div>
    <div class="col-8">
        @Html.DisplayFor(model => model.Course_StartDate)
    </div>
    <div class="col-4">
        <strong>@Html.DisplayNameFor(model => model.Course_EndDate)</strong>
    </div>
    <div class="col-8">
        @Html.DisplayFor(model => model.Course_EndDate)
    </div>
    <div class="col-4">
        <strong>@Html.DisplayNameFor(model => model.Course_CreateDate)</strong>
    </div>
    <div class="col-8">
        @Html.DisplayFor(model => model.Course_CreateDate)
    </div>
    <hr />
    <div class="col-12">
        <h4><strong>@Html.DisplayNameFor(model => model.Course_Introduction)</strong></h4>
    </div>
    <div class="card">
        @Html.Raw(Model.Course_Introduction)
    </div>

</div>*@
@model ZuHuanJingDemo2.Models.Course
@{
    ViewData["Title"] = "Details";
}
@if (Model != null)
{
    <h1>課程細節</h1>
    <div class="card">
        <div class="card-header">
            @*<div class="d-flex justify-content-between">*@
            <div class="d-flex">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Course_Id">Edit</a>&ensp;
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Course_Name)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Course_Name)</p>
                </div>
                <div class="col-md-3">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Course_Teacher)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Course_Teacher)</p>
                </div>
                <div class="col-md-3">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Course_IsActive)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Course_IsActive)</p>
                </div>
                <div class="col-md-3">
                    <h5 class="card-title">人數</h5>
                    <p class="card-text">@Model?.Course_SumCount / @Model?.Course_MaxCount</p>
                </div>
                <hr />
                <div class="col-md-4">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Course_StartDate)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Course_StartDate)</p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Course_EndDate)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Course_EndDate)</p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Course_CreateDate)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Course_CreateDate)</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h5>@Html.DisplayNameFor(model => model.Course_Introduction)</h5>
                    <div class="card">
                        <div class="card-body">
                            @Html.Raw(Model?.Course_Introduction)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}