@model List<ZuHuanJingDemo2.Models.Course>


@if (Model != null)
{
    @foreach (var item in Model.Where(m => m.Course_IsActive == 1))
    {
        <tr>
            <td>
                <a asp-controller="Main" asp-action="CourseDetails" asp-route-id="@item.Course_Id">@Html.DisplayFor(modelItem => item.Course_Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_SumCount) / @Html.DisplayFor(modelItem => item.Course_MaxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_CreateDate)
            </td>
            <td>
                @if (item.Course_IsActive == 0)
                {
                    <label>否</label>
                }
                else
                {
                    <label>是</label>
                }
            </td>
        </tr>
    }
}